*{
  padding:0;
  margin:0;
}
body{
  background:url(./img/fondo.jpg);
  font-family: 'Lato',sans-serif;
  display: flexbox;
}

#bienvenido {
    color:rgb(194, 35, 194);
    width: 60px;
    text-decoration: none;
    font-size: 15px;
    margin-left: 80px;
 
}


#nav {
    width: auto;
    display: inline-flex;
    justify-content: flex-end;
    
  }
  
#nav ul li {
    display:inline-block;
    list-style-type: none;
    text-align: left;
  }
  
#nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: rgb(218, 21, 129);
    font-size: 22px;
  }

#pantalla-signup, #pantalla-login{
    background:white;
    height: auto;
    width: auto;
    border-radius: 10px;
    padding: 10px 12px 10px 10px;
    float: right;
    display: flex;
     flex-direction: column;

    
 
}
#pantalla-signup input,
#pantalla-login input{
    border:2px solid #CED6E0;
    font-size: 18PX;
    height: 30px;
    width: 290px;
    padding: 5px 12px;
    border-radius: 5px;
    

    
}
#pantalla-sigup input:hover,
#pantalla-login input:hover{
    border:2px solid #93BDED;
}
#pantala-signup ul li a,
#pantala-login ul li a{
    text-decoration: none;
    text-align: center;
}
#pantalla-signup ul
#pantalla-login ul{
    list-style:none;
    text-align: center;
  }

p{
  display: flexbox;
  flex-direction: column; 
}

#email,
#password{
    border: 2px solid #CED6E0;
    font-size: 16PX;
    height: 30px;
    width: 300px;
    padding: 5px 12px;
    border-radius: 5px;
    display: flexbox;
    flex-direction: column; 
   
}


#email:hover,
#password:hover {
    border: 2px solid #779ac2;


}

#btn-signup,#btn-login {
    border: none;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    background: rgb(218, 21, 129);
   
}
#avatar{
  border-radius:50%;
  width: auto;
}
#btn-google{
  border: none;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  border-radius:100px;
  background: rgb(218, 21, 129);
  flex-direction: column; 
}
#btn-facebook{
  border: none;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  border-radius:100px;
  background: rgb(218, 21, 129);
  margin-top: 20px;

}
#btn-signup:hover,
#btn-login:hover {
    background: #d47faa;
}
